* {
    margin: 0;
    padding: 0 !important;
    width: 100vw;
}
body {
    background-color: #000 !important;
    color: #fff !important;
}
li{
    list-style: none;
}
h1{
    font-size: 50px;
    text-transform: uppercase;
}
header, nav, footer {
    padding-top: 5vh;
    display: flex;
    justify-content: center;
    text-align: center;
}
a {
    text-decoration: none !important;
}
footer{
    font-size: large;
    font-style: italic;
}
main{ 
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    padding-top: 10vh;
}
.content, .p-con{
    width: 60vw;
    word-wrap: break-word;
    padding-top: 5vh;
    font-size: 30px;
}
.content {
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 10vh;

}
footer {
    margin-top: 10vh;
}

h3{
    margin-bottom: 10vh !important;
}

nav {
    background-color: #111;
    padding-top: 2vh !important;
    padding-bottom: 2vh !important;
}

nav ul li a {
    color: white !important;
    font-weight: bold;
    text-decoration: none;
}

header {
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 72px;
}
@media screen and (max-width: 768px) {
    .content {
        margin-left: 5vw;
        margin-right: 5vw;
    }   
}
nav {
    background-color: #002500 !important;
}

/* colors {
    bg: #000000;
    text: #ffffff;
    navbar: #002500;
    btn: #D1E7DD;
    btn-hover: #A3CFBB;
} */
@media screen and (max-width: 991px) {
    nav ul li{
        margin: 20px 0px;
        
        display: flex;
        justify-content: center;
    }
    nav ul li a {
        border-bottom: 1px solid #fff !important;
        width: 50vw;
    }
    nav {
        position: relative !important;
    }

}