/* colors {
    bg: #000000;
    text: #ffffff;
    navbar: #002500;
    btn: #D1E7DD;
    btn-hover: #A3CFBB;
} */
* {
    margin: 0;
    padding: 0 !important; 
    font-size: 1.5rem;
}
body {
    background-color: #000 !important;
    color: #fff !important;
    text-align: left !important;
    width: auto !important;
    height: auto !important;
    display: flex;
    flex-direction: column;
}
li {
    list-style: none;
}
h1 {
    font-size: 50px;
    text-transform: uppercase;
}
header, nav, footer {
    padding-top: 5vh;
    display: flex;
    justify-content: center;
    text-align: center;
}
header a img {
    max-width: 100%;
}
a {
    text-decoration: none !important;
}
footer {
    margin-top: 100vh;
}

main { 
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
}
.content, .p-con {
    word-wrap: break-word;
    padding-top: 5vh;
}
.content {
    margin-top: 10vh;
}
.box-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80vw;
}
header {
    margin-top: 5vh;
    margin-bottom: 5vh;
}
nav {
    background-color: #111;
    padding-top: 2vh !important;
    padding-bottom: 2vh !important;
    background-color: #002500 !important;
}
nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
nav ul li a {
    color: white !important;
    font-weight: bold !important;
    text-decoration: none;
}
@media screen and (max-width: 991px) {
    * {
        font-size: 1rem;
    }
    nav ul li{
        margin: 20px 0px;
        display: flex;
        justify-content: center;
    }
    nav ul li a {
        border-bottom: 1px solid #fff !important;
        width: 50vw;
    }
    nav {
        position: relative !important;
    } 
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    * {
        font-size: 1.25rem;
    }
}
@media screen and (min-width: 3000px) {
    * {
        font-size: 2.25rem;
    }
}